<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container" ng-controller="FriendController as ctrl">
<div class="form-group has-feedback"></div>
<div ng-hide="currentUser.userId !== friend.userId"> 
<input type="submit" ng-click="ctrl.getMyFriends()" class="btn btn-danger" value="Get My Friends"/>
</div>
<div ng-repeat="friend in ctrl.friend | filter: sear_text">
<div ng-hide="currentUser.userId !== friend.userId"> 
<p>friend Id: {{friend.friendId}} &nbsp;&nbsp;&nbsp;Status: {{friend.status}}
<!-- <input type="submit" ng-click="ctrl.unFriend(friend.userId)" class="btn btn-warning" value="unfriend"/> -->
<a href="#/chat"><input type="submit" class="btn btn-warning" value="Send Message"/></a>
</p>
</div>
</div>  
</div>
<div ng-include="'c_friend/friend.html'"></div>
</body>
</html>